*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}
.pc ,.tablet,.mobile{
    display: none;
}
body > div{
    margin: auto;
}
@media(min-width: 1024px){
    .pc{
        display: block;
    }
}
@media(min-width:740px) and (max-width:1023px) {
    .tablet{
        display: block;
    }
}
@media (max-width:739px) {
    .mobile{
        display: block;
    }
}