/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 4000px;
    scroll-behavior: smooth;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.main{
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-full{
    width: 100%;
}
.col-third{
    width: 33.333333%;
}
.col-half{
    width: 50%;
}
/* Begin header */
.header{
    position:fixed;
    height: 50px;
    right: 0;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.712);
}
.nav{
    display: inline-block;
}
.nav,.subnav{
 list-style-type: none;
 z-index: 2;
}
.nav li{
display: inline-block;
position: relative;

}
.nav  .subnav  li:hover  a,
.nav > li:hover > a{
    color: #000 !important;
    background-color: rgba(150, 155, 160, 0.767) !important;
}

.nav > li > a{
    color: white;
    text-transform: uppercase;
  
}
.nav li a{
    text-decoration: none;
    line-height: 50px;
    padding: 0 10px;
    font-size: 20px;
    display: block;
}
.nav li:hover .subnav{
    display: block;
}
.nav .subnav{
    z-index: 2;
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.616);
}
.nav .subnav a{
    color: rgb(0, 0, 0);
    padding: 0 16px;
    line-height: 38px;
}
.nav .subnav li{
    width: 100%;
}
.menu-btn{
    line-height: 50px;
    display: none;
}
.menu-btn,
.header .search-btn{
    float:right;
}
.menu-icon,
.header .search-icon{
    display: inline-block;
    color: #fff;
    font-size: 30px;
    line-height: 50px;
    padding: 0px 16px;
    cursor: pointer;
}
.header .search-btn:hover{
    background-color: rgb(230, 50, 50);
}
/* End header */

/* Begin slider */

.slider{
    z-index: -1;
    margin-top: 50px;
    padding-top: 50%;
    position: relative;
    background: url(https://dominofilm.vn/uploads/albums/2019/01/photo_5c495cf04fcea.jpg) top center /cover no-repeat;
}
.slider .text-content{
    position: absolute;
    bottom: 0px;
    color: #fff;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.486);
    font-size: 50px;
    text-align: center;
    padding: 16px 0px;
    line-height: 70px;
}
.slider .text-heading{
font-weight: 500;
}

/* End slider */
/* Begin content */

.content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 60px 0px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
}
.content .section-heading{
    font-size: 35px;
    text-align: center;
    font-weight: 500;
    letter-spacing:3px;
}
.content .section-slogan{
    font-size: 15px;
    margin-top: 25px;
    text-align: center;
    font-style: italic;
    opacity: 0.8;
}
.content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 30px;
}
.content .member-list{
    margin-top: 48px;
    text-align: center;
    overflow: hidden;
}
.content .member-item{
    float: left;
    width: calc(100% / 3);
}
.content .member-name{
    font-size: 20px;
    text-align: center;
}
.content .member-item .member-img{
    width: 250px;
    height: 200px;
    border-radius: 10px;
}
.tour-section{
    background-color: #000;
    color: #fff;
}
.ticket-list{
    margin-top: 40px;
}
.ticket-list li{
    background-color: #fff;
    color: #000;
    font-size: 15px;
    list-style: none;
    padding: 20px 10px;
    border-bottom: 1px solid black;
}
.ticket-list .sold-out{
    background-color: red;
    color: #fff;
    padding: 10px 10px;
    margin-left: 16px;
}
.ticket-list .soluong{
    float: right;
    font-size: 24px;
    background-color: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-top: -3px;
}
.place-list{
margin-top: 40px;
overflow: hidden;
margin-left: -10px;
margin-right: -10px;
}

.place-item{
    float: left;
    width: calc(100% / 3);
    padding: 10px 10px;
}

.place-img{
    width: 100%;
    height: 200px;

}
.place-item  h3,p{
    padding: 0px 16px;
}
.place-img:hover{
    opacity: 0.6;
}
.place-conttent{
    background-color: #fff;
    color: #000;
    font-size: 15px;
}

.place-heading{
    font-size: 20px;
    font-weight: 700;
}

.place-time{
margin-top: 12px;
opacity: 0.7;
}

.place-desc{
margin-top: 12px;
line-height: 1.6;
}

.place-buy{
    text-decoration: none;
    background-color: #000;
    padding: 11px 16px;
    display: inline-block;
    color: #fff;
    margin-top: 12px;
    margin-left: 16px;
    margin-bottom: 16px;
}
.place-buy:hover{
    background-color: #ccc;
    color: #000;
}
/* End content */


.modal{
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.438);
}
.modal-open{
    display: flex;
}
.modal-container{
    position: relative;
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px );
    min-height: 400px;
    animation: Modal ease 0.5s;
}
.modal-close{
    position: absolute;
    font-size: 20px;
    top: 0;
    right: 0;
    padding: 3px 10px;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
}
.modal-close:hover{
    opacity: 1;
}
.modal-header{
    color: #fff;
    font-size: 30px;
    background-color:rgb(48, 180, 136);
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-header > i{
    margin-right: 16px;
}
.modal-body{
    padding: 16px 16px;
}
.modal-label{
    display: block;
    font-size: 16px;
    padding-bottom: 5px;
}
.modal-input{
    margin-bottom: 24px;
    padding: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
}
#buy-ticket{
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid red;
    padding: 10px 0px;
    background-color: red;
    width: 100%;
    color: #fff;
}
#buy-ticket:hover{
    opacity: 0.7;
}
.modal-footer{
    padding: 16px;
    text-align: right;
}
@keyframes Modal {
    from{
        opacity: 0;
        transform:translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
.contact-content{
    margin-top: 50px;
    line-height: 1.4;
}
.contact-content i[class*='fa-']{
    width: 30px;
    padding: 8px 0px;
}
.name-input{
    outline: none;
    padding: 8px 8px;
}
.email-input{
    margin-left: 24px;
    width: 48%;
    padding: 8px 8px;
    outline: none;
}
.message-input{
    margin-top: 20px;
    width:calc(100% + 8px );
    padding: 8px 8px;
    outline: none;
}
.input-submit{
    float: right;
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    border: 1px solid black;
    cursor: pointer;
}
.input-submit:hover{
    opacity: 0.7;

}
.menu-btn:hover .menu-icon{
background-color: #ccc;
color: #000;

}
.map-section{
    z-index: -1;
    margin-top: 160px;
    position: relative;
    height: 1000px;
    background: url(https://www.tuannguyentravel.com/data/images/images2/quy-nhon/cac-mon-an-ngon-o-quy-nhon.jpg) top center /cover no-repeat;
}
@media (max-width:740px) {
    .nav > li{
        display: block;
    }
    .header .search-icon{
        display: none;
    }
    .menu-btn{
        display: inline-block;
    }
    .slider .text-content{
        font-size: 15px;
        line-height: 25px;
    }
    .place-conttent{
        font-size: 10px;
    }
    .place-img{
        height: 100px;
    }
    .place-buy{
        padding: 5px 5px;
    }
    .place-item h3, p{
        padding: 0px 8px;
    }
    .nav{
        display: block;
    }
    .nav .subnav{
        position: initial;
        background-color: rgba(0, 0, 0, 0.027);
    }
    .nav .subnav a{
        color: #fff;
        padding: 5px 40px;
    }
    .menu-btn{
        position: absolute;
        top: 0;
        right: 0;
    }
    .nav li{
        border-bottom: 1px solid #fff;
    }
    .nav li:active{
        border-bottom: 1px solid #ccc;
    }
    .nav li:first-child{
        display: inline-block;
    }
    .header{
        overflow: hidden;
    }
    .member-list .member-mobile{
        width: 100%;
    }
    .content .member-item .member-img{
        width: 80%;
    }
    .content .member-name{
        margin-bottom: 10px;
    }
    .sfull{
        width: 100%;
        margin-top: -32px;
    }
    .col{
        padding-right: 0px;
        margin-bottom: 38px;
    }
    .message-input{
        top: -17px;
        position: relative;
        margin-top: 1px;
    }
    .input-submit{
        width: 100%;
        margin-top: 0px;
        box-sizing:unset;
    }
}